{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'create' %}" class="form">
        {% csrf_token %}
        <textarea placeholder="Write" name ="post" cols="250" rows="5" class="input-group-text" maxlength="1000"></textarea>
        <button class="btn btn-primary">New Post</button>
    </form>
    {% endif %}
    <ul class="list-group">
        {% for post in page_obj %}
            <li class="list-group-item">
                <div>
                    <a  href="{% url 'profile' post.creator %}">
                        {{ post.creator }}<i class="bi bi-person-circle"></i>
                        <input type="text" hidden value="{{ post.creator }}" id="post_creator">
                    </a>
                </div>
                <div id="post_content">{{ post.content }}</div>
                <div>{{ post.timestamp }}</div>
                <div id="like_count">{{ post.likes.count }}</div>
                
                {% if request.user == post.creator %}
                
                <button id="edit" onclick="Edit(this)" class="btn btn-primary">Edit</button>
                <form class="d-none" id = "form_edit" onsubmit="return false;">
                    <textarea id="text_content" cols="25" rows="10" class="input-group-text" maxlength="1000">{{ post.content }}</textarea>
                    <button id="save" value="{{ post.id }}" class="btn btn-primary">Save</button>
                </form>
                
                    
                {% endif %}
                
                {% if post in user.user_likes.all %}
                    <button id="like_button" onclick="Like(this)" value="{{ post.id }}" class="btn btn-primary" name="{{ request.user }}">Unlike <i class="bi bi-heart-fill"></i></button>
                    
                    

                {% else %}
                    <button id="like_button" onclick="Like(this)" value="{{ post.id }}" class="btn btn-primary" name="{{ request.user }}">Like <i class="bi bi-heart"></i></button>
                    
                {% endif %}
                    
               

            </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}